/* straight from https://github.com/m-lab/ndt-javascript-client/blob/master/examples/d3_circle/style.css 
   Original values left in comments
 */

#NOTcontainer {
	width: 100%;
	margin: 0 auto;
}
#msg {
	margin: 0 auto;
	width: 500px;
	color: red;
	text-align: center;
}
#svg {
	margin: 0 auto;
	width: 400px;
	height: 400px;
}
#detail_links {
	position: fixed;
	top: 5px;
	right: 5px;
	text-transform: uppercase;
	font-size: medium;
}
#detail_links a {
	color: blue;
	text-decoration: none;
}
#detail_links a:hover {
	text-decoration: underline;
}
#debug {
	display: none;
}
#details {
	display: none;
}
#progress-meter {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
/*	font-size: 28px; */
	font-weight: bold;
}
#progress-meter text {
	fill: rgb(2, 89, 157);
/*	fill: #2A333D; */
}
#progress-meter text.information {
	font-size: 16px;
	fill: rgb(2, 89, 157);
/*	fill: #6D736A; */
}
#progress-meter text.status{
	fill: rgb(2, 89, 157);
/*	fill: #3F4D4D; */
}
#progress-meter .ready {
	cursor: pointer;	
}
#progress-meter .progress {
	cursor: wait;
}
#progress-meter .background {
 	fill: rgb(2, 89, 157);
/*	fill: #D6D4D0; */
}

#progress-meter .complete {
/*	fill: #83B09C; */
	fill: rgb(2, 89, 157);
}

#progress-meter .result_value, #progress-meter .result_label {
	font-size: 14px;
	fill: #707762;
	/*text-transform:capitalize*/
}
#progress-meter .result_label {
	fill: rgb(2, 89, 157);
/*	fill: #2A333D; 	*/
}

#progress-meter .progress-error .background {
	fill: #A77D7D;
}
#progress-meter .progress-error text.information {
	font-size: 8px;
}
